## --- [ Visual Studio & .NET ] ---
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates
.vs/

## --- [ User-specific files ] ---
*.rsuser
*.suo
*.user
*.userosscache

## --- [ Build results ] ---
[Dd]ebugPublic/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## --- [ NuGet Packages ] ---
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## --- [ Common Extensions to Ignore ] ---
*.dll
*.pdb
*.exe
*.cache
*.log
*.tmp

## --- [ Database Files ] ---
*.mdf
*.ldf
*.ndf

## --- [ Node.js (if used in UI) ] ---
node_modules/
.ntvs_analysis.dat
